---
import Coffee from "../icons/Coffee.astro"


// No se necesita lógica en este caso, ya que es un componente estático
---

<footer class="flex absolute flex-col items-center justify-center w-full text-center py-2 bottom-0 ">
    <p class="text-gray-600">
      Un proyecto de <span class="font-semibold text-gray-800">LitePdf</span>
    </p>
  
    <a
      href="#"
      target="_blank"
      class="mt-3 inline-flex items-center gap-2 px-4 py-2 border rounded-lg shadow-sm bg-white hover:bg-gray-100 transition rounded-xl"
    >
    <Coffee />
      <span class="text-gray-700 font-medium">Invítame a un café</span>
    </a>
  </footer>