---
import Coffee from "../icons/Coffee.astro"
import PayPalButton from "../paypal"


// No se necesita lógica en este caso, ya que es un componente estático
---

<footer class="flex absolute flex-col items-center justify-center w-full text-center p-3 bottom-0 ">
    <p class="text-gray-600">
      Un proyecto de <span class="font-semibold text-gray-800">LitePdf</span>
    </p>
  
    <a
      href="#"
      target="_blank"
      class="mt-3 inline-flex items-center gap-2 px-4 py-2 border rounded-lg shadow-sm bg-white hover:bg-gray-100 transition rounded-xl"
    >
   <div class="flex flex-col w-full  items-center">
    <Coffee />
    <span class="text-gray-700 font-medium">Invítame a un café</span>
   </div>
      <PayPalButton client:only="react"  />
    </a>
  </footer>