---
import Instagram from "../icons/Instagram.astro";
import Facebook from "../icons/Facebook.astro";

const socialLinks = [
  {
    name: "Facebook",
    href: "https://www.facebook.com/profile.php?id=61572763126294",
    icon: Facebook,
  },
  { name: "Instagram", href: "#", icon: Instagram },
];
---

<nav
  class="flex absolute w-full top-0 text-white px-6 py-4 items-center justify-center border-b-2 border-gray-100
         bg-white/30 backdrop-blur-md"
>
<div class="flex w-full md:w-[1400px]  justify-between items-center">

  <!-- Logo -->
  <a href="/" class="flex items-center space-x-2">
    <img src="/assets/logo-litepdf.webp" alt="Logo" class="h-10 w-auto" />
    <span class="text-lg text-black font-medium">Litepdf</span>
  </a>

  <!-- Redes sociales -->
  <div class="flex space-x-4">
    {
      socialLinks.map((link) => {
        const Icon = link.icon;
        return (
          <a
            href={link.href}
            target="_blank"
            rel="noopener noreferrer"
            class="hover:text-red-400 text-xl  text-gray-900 "
          >
            <Icon />
          </a>
        );
      })
    }
    </div>
  </div>
</nav>
